html, body {
	margin: 0;
	padding: 0;
}

body{
	background-image: url('../images/brushed_alu.png');
	background-repeat: repeat;
	background-color: #efefef;
	font-family: 'Source Sans Pro', sans-serif;
}

#stripe_outer {
	width: 100%;

	padding: 20px 0;
	margin: -150px 0 auto;
	
	position: absolute;
	top:50%;

	background: rgb(255,255,255);
	background: rgba(255,255,255,.85);
}

#stripe_inner {
	text-align: left;
	color: #444545;
	width: 700px;
	margin: 0 auto;
}

h1 {
	font-weight: 400;
	font-size: 2.4em;
}

p {
	font-weight: 300;
	font-size: 1.41em;
}

#links a {
	text-decoration: none;
}

#links a img {
	outline: none;
	border: none;
}

.drop-shadow {
   position:relative;
   width:90%;
}