!!! 5
%html
  %head
    %title Christian Reyes | Designer | Developer
    %link{:rel => "stylesheet", :type => "type/css", :href => "stylesheets/grid.css"}
    %link{:rel => "stylesheet", :type => "type/css", :href => "stylesheets/text.css"}
  %body
    .container_12
      .grid_6
        %h1 Christian Reyes
      .grid_6
        %nav 
          %ul
            %li Portfolio
            %li About
            %li Contact
    .clear